*.pyc
*.blend1
*.tmp
*.egg-info*
**.so
data/placement_poses
data/object_models
data/**.sdf
dexnet/**/*.sdf
*.stl
**.o
my_cpp/build
*.obj
*.ply
*.pkl
*.mtl
*.tar.gz
*/robotiq_hande/gripper_air_tight.sdf
*/robotiq_hande/gripper_enclosed_air_tight.sdf
artifacts/
*.zip
core
dataset/
logs/
.vscode/
artifacts
data
dataset
logs
requirements.txt
urdf
docker/run_1.7.1-cuda11.0-cudnn8-devel.sh
docker/run_container_generate_grasp.sh
docker/run_container.sh
docker/run_train.sh
docker/run_container.sh
unet.py
test_demo.py
query_loss.py
